<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logout</title>
</head>
<body>
    

     <div class="Card">
        <h1 style="text-align: center;" >Logout</h1>
        <form action="/user/logout" method="POST">
           <p>Digite seu Email para Sair da sua conta</p> <input type="text" name="email" placeholder="Email">
            <button type="email" > Logout </button>
        </form>
     </div>
   

<style>
    .Card{
        border-radius: 20px;
        padding: 10px;
        background-color: rgb(92, 92, 92);
        width: 15rem;
        margin: auto;
        text-align: center;
    }
    input{
        margin: 10px;
    }
</style>

</body>
</html>