<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    

     <div class="Card">
        <h1 style="text-align: center;" >Register</h1>
        <form action="/user/register" method="post">
            <input type="text" name="name" placeholder="Nome">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="password" placeholder="Senha">
            <button type="send" > Register </button>
        </form>
     </div>
   
<style>
    .Card{
        border-radius: 20px;
        padding: 10px;
        background-color: rgb(92, 92, 92);
        width: 15rem;
        margin: auto;
        text-align: center;
    }
    input{
        margin: 10px;
    }
</style>

</body>
</html>