<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acesso Negado</title>
  </head>
  <body>
    <main>
      <div class="container">
        <img
          class="imgss"
          src="https://cdn-icons-png.flaticon.com/512/2919/2919590.png"
          alt="Access Denied"
        />
        <H1>Voçê Não tem acesso á essa área</H1>
      </div>
    </main>
    <style>
      .container {
        margin-top: 150px;
      }

      main {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      * {
        margin: 0;
        padding: 0;
      }
    </style>
  </body>
</html>
